[submodule "themes/awayhugo"]
	path = themes/awayhugo
	#url = git@github.com:dlaub3/awayhugo.git
	url = https://github.com/dlaub3/awayhugo.git
[submodule "content"]
	path = content
	#url = git@github.com:dlaub3/blog.git
	url = https://github.com/dlaub3/blog.git
